<nav class="navbar navbar-expand-lg navbar-light bg-success d-flex fixed-top ">
        <a class="navbar-brand text-light" href="#">My Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end " id="navbarNavAltMarkup">
          <div class="navbar-nav  ">
            <a class="nav-item nav-link  text-light" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home</a>

            <a class="nav-item nav-link text-light" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Products</a>
            <a class="nav-item nav-link  text-light" routerLink="addproduct" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Add Product</a>

            <a class="nav-item nav-link text-light" routerLink="checkout" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Checkout</a>
      
          </div>
        </div>
      </nav>
