<div class="card" style="width: 18rem;" *ngIf="productDetails">
    <img [src]=productDetails.imageUrl class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{productDetails.title}}</h5>
      <p class="card-text">{{productDetails.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Price: {{productDetails.price}}/-</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>