

    <div class="card twenty">
        <img class="card-img-top" [src]=prod.imageUrl [alt]=alt>
        <div class="card-body">
            <h5 class="card-title">{{prod.title | uppercase}}</h5>
            <p class="card-text">{{prod.description}}</p>
            <a  class="btn btn-success" *ngIf="prod.isAvailable" (click)="addToCart()">Add to cart</a>
            <a class="btn btn-success ml-2"  (click)="goToDetails(prod.id)" >View details</a>


        </div>
    </div>




    
    
    
     
        
        
        
      